.navbar-default {
    background-color: #327384;
    border-color: #327384;
}

#xibbit {
    color: white;
    font-family: 'Yesteryear', cursive;
    font-size: 36px;
    font-weight: 400;
}

#xibbit2 {
    color: #29264c;
    font-family: 'Yesteryear', cursive;
    font-size: 50px;
    font-weight: 400;
}

#tagline {
    font-family: 'Yesteryear', cursive;
    font-size: 50px;
    font-weight: 400;
    color: white;
    margin-top: 250px;
    text-shadow: 2px 1px 9px rgba(0, 0, 0, 0.8);
}

.navbar-default .navbar-nav>li>a {
    /*color: #d3cfd1;*/
    color: white;
}

.skinny-form {
    margin: auto;
    width: 40%;
}

p {
    font-size: 24px;
}

body, html{
    height:100%;
    background-color: #eaf7f9; 
    color: #29264c;
}

body {
    padding-top: 50px;
}

body#background-img {
    background-image: url(/static/img/Trevi.jpg);
    background-size: cover;
}

div.transbox {
    margin-top: 25px; 
    background-color: rgba(234, 234, 216,.7);
    border: 1px rgba(234, 234, 216,.5);
    padding-bottom: 25px;
    /*pacity: 0.6;*/
    /*filter: alpha(opacity=60); /* For IE8 and earlier **/
}

/*body {
    color: white;
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
    background: url(/static/img/Painting.jpg) no-repeat center;
}*/

#map {
    height: 600px;
}

/* fluid 5 columns */
.grid-sizer,
.grid-item { width: 20%; }
/* 2 columns */
.grid-item--width2 { width: 40%; }

