{% extends 'base.html' %}
{% block content %}

    <h2 class="artist-name">
      <center> 
        {% if artist.secondary_name == None %}
          {{ artist.primary_name }}
        {% else %}
          {{artist.primary_name}} {{artist.secondary_name}}
        {% endif %}
      </center>
    </h2>

    <div class="container-fluid">
      <div class="row">
        {% if artist.image_url == None and artist.image_caption == "No image" %}
        <center><i class="fa fa-id-card-o fa-5x" padding="10px" aria-hidden="true"></i></center>
        <center>Sorry.  {{ artist.image_caption }} of this artist exists.</center>
        {% elif artist.image_url == None %}
        <center> 
          <br> 
          <span class="glyphicon glyphicon-question-sign fa-5x"></span>
          <br>
        </center>
        {% else %}
        <center><img src="{{ artist.image_url }}" height="400" padding="10px"></center>
        <center><p> {{artist.image_caption }} </p></center>
        {% endif %}
      </div>

      <div>        
        <br>
        <center>
          <button type="button" id="favorite-artist-btn" class="btn btn-default btn-md" style="text-align:right">
            {% if is_favorited %}
              <span class="glyphicon glyphicon-star" id="favorite"></span> Favorite 
            {% else %}
              <span class="glyphicon glyphicon-star-empty" id="favorite"></span> Favorite
            {% endif %}
          </button>
        </center>
      </div>
      
      <div class="row">
        <div class="col-xs-offset-3 col-xs-4">
          <br> 
          <strong>Artist:</strong> 
          {% if artist.secondary_name == None %}
            {{ artist.primary_name }}
          {% else %}
            {{artist.primary_name}} {{artist.secondary_name}}
          {% endif %}
          <br>

          <input type="hidden" id="hidden_artist_id" value="{{ artist.artist_id }}">

          {% if artist.birth_year != None%}
          <strong>Lifespan:</strong>
          <!-- 2.0 Expand date conditions to be like it is for art. -->
            {% if artist.birth_year != None and artist.death_year != None %}
              {{ artist.birth_year }} - {{ artist.death_year}}
            {% elif artist.birth_year != None %}
              {{ artist.birth_year }}
            {% endif %}
          <br>
          {% endif %}
        </div>

        <div class="col-xs-offset-7">
          <br>
          <strong>List of Artworks:</strong>
          <br>
          {% for artwork in artist.artworks %}
              <ul>
                <li> <a href="/artworks/{{ artwork.art_id }}">{{ artwork.title }}</a></li>
              </ul>
          {% endfor %}
          <br>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <br>
        <center><b>Bio:</b> {{ artist.bio }}</center>
      </div>
    </div>

<!-- Example code for how to pontentially figure out "starring" logic in ratings project -->
  

{% endblock %}