{% extends 'base.html' %}
{% block content %}

    <h2 class="title"><center> {{ art.title }} </center></h2>

    <div class="container-fluid">
      <div class="row">
        <center><img src="{{ art.image_url }}" height="400" padding="10px"></center>
      </div>
      
      <div class="row">
        <div class="col-xs-offset-2 col-xs-5">
          <br>
          <Strong>Title:</strong> <i>{{ art.title }}</i>
          <br> 

          <strong>Artist:</strong> 
          {% for artist in art.artists %}
            {% if artist.secondary_name == None %}
              {{ artist.primary_name }}
            {% else %}
              {{artist.primary_name}} {{artist.secondary_name}}
            {% endif %}
          {% endfor %}
          <br>

          <strong>Date:</strong>
          <!-- WIP on getting the date conditions right -->
          {% if art.circa == True %}
            c. 
          {% endif%}

          {% if art.year != None and art.year_range != None %}
            {{ art.year }} - {{ art.year_range}} {{ art.year_description}}
          {% elif art.year != None %}
            {{ art.year }} {{ art.year_description}}
          {% else %}
            {{ art.year_description}}
          {% endif %}
          
          <br>

          <strong>Medium:</strong> {{ art.medium }}
          <br> 

          <strong>Dimensions:</strong>
          {% if art.width_cm == None %}
            {{ art.height_cm}}cm 
          {% else %}
            {{ art.height_cm}}cm x {{art.width_cm}}cm
          {% endif %}
          <br>
        </div>

        <div class="col-xs-5">
          <br>
          <strong>Museum:</strong> {{ art.collection.name }}, {{ art.collection.location }}
          <br>

          <strong>Art Movement:</strong> {{ art.art_movement.movement_name }}
          <br> 

          <strong>Subject Matter:</strong> {{ art.subject_matter.category }}
          <br>

          <strong>Type:</strong> {{ art.art_type.art_type }}
          <br>

        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <br>
        <center><b>Description:</b> {{ art.description }}</center>
      </div>
    </div>

<!-- Example code for how to pontentially figure out "starring" logic in ratings project -->
  

{% endblock %}