<!doctype html>
<html>
<head>
  <title>Get Your Art On!</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
  crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/art.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://use.fontawesome.com/ed5db190d9.js"></script>
  <script src="/static/js/favorites.js"></script>
</head>

<body>

  <ul class="flashes">
  {% for message in get_flashed_messages() %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
    <center>
    {% if session.get('current_user') %}
    <button><a href="/">Home</a></button>
    <button><a href="/users/{{ session.get('current_user') }}">Profile</a></button>
    <button><a href="/logout">Logout </a></button>
    {% else %}
    <button><a href="/">Home</a></button>
    <button><a href="/register">Register </a></button>
    <button><a href="/login">Login</a></button>
    {% endif %}
    <button><a href="/artworks">Art</a></button>
    <button><a href="/artists">Artists</a></button>
    <button><a href="/collections">Museums</a></button>
  </center>

  {% block content %}

  {% endblock %}


</body>
</html>