<!DOCTYPE html>
<html>
<head>
  <title>Get Your Art On!</title>
 <!--  <script src="https://maps.googleapis.com/maps/api/js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
  crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/art.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://use.fontawesome.com/ed5db190d9.js"></script>
  <script src="/static/js/favorites.js"></script>
</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="xibbit" class="navbar-brand" href="/">Xibbit</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">    
          <li><a href="/artworks">Art</a></li>
          <li><a href="/artists">Artists</a></li>
          <li><a href="/collections">Museums</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if session.get('current_user') %}
            <li class="active"><a href="/users/{{ session.get('current_user') }}">Profile <span class="sr-only">(current)</span></a></li>
            <li><a href="/logout">Logout</a></li>
          {% else %}
            <li><a href="/register">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <ul class="flashes">
  {% for message in get_flashed_messages() %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

</body>
</html>