<!doctype html>
<html>
<head>
  <title>Get Your Art On!</title>
</head>

<body>

  <ul class="flashes">
  {% for message in get_flashed_messages() %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
  <!-- toggle the login/logout button with jQuery. -->
  <button><a href="/">Home</a></button>
  <button><a href="/register">Register </a></button>
  <button><a href="/login">Login</a></button>
  <button><a href="/logout">Logout </a></button>
  <!-- Figure out how to insert <user_id> from cookie session into Profile button 
  <button><a href="users/<user_id>">Profile</a></button> -->

  {% block content %}

  {% endblock %}

</body>
</html>