{% extends 'base.html' %}
{% block js %}

<script src="static/js/collectionsMarkers.js"> </script>

{% endblock %}
{% block content %}

    <h2 class="museum-name">
      <center> 
        {{ collection.name }}
      </center>
    </h2>

    <div class="container-fluid">
      <div class="row">
        <center><img src="{{ collection.image_url }}" height="400" padding="10px" class="img-rounded"></center>
      </div>

      <div> 
        {% if session.get('current_user') %}       
        <br>
        <center>
          <button type="button" id="favorite-collection-btn" class="btn btn-default btn-md" style="text-align:right">
            {% if is_favorited %}
              <span class="glyphicon glyphicon-star" id="favorite"></span> Favorite 
            {% else %}
              <span class="glyphicon glyphicon-star-empty" id="favorite"></span> Favorite
            {% endif %}
          </button>
        </center>
        {% endif %}
      </div>
      
      <div class="row">
        <div class="col-xs-offset-3 col-xs-4">
          <br> 
          <strong>Name:</strong> 
            {{ collection.name }}
          <br>
          <strong>Location:</strong>
            {{ collection.location }}
          <br>
          <strong>Website:</strong>
            <a href="{{ collection.website }}">{{ collection.website }}</a>
        </div>

        <input type="hidden" id="hidden_collection_id" value="{{ collection.collection_id }}">

        <div class="col-xs-offset-7">
          <br>
          <strong>List of Artworks:</strong>
          {% for art in collection.artworks %}
              <ul>
                <li> <a href="/artworks/{{ art.art_id }}">{{ art.title }}</a>
                </li>
              </ul>
          {% endfor %}
          <br>
          <br>
        </div>
      </div>

      <div id="map" class="indivial-museums"></div>
      <span id="map_data" data-lat="{{ collection.lat }}" data-lng="{{ collection.lng }}"></span>
      <span id="map_title" data-title="{{ collection.name }}"></span>
    </div> 

<script src="/static/js/museumMaps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCexM0cyhuLYBlw7cibj5bolrLP4-tycME&callback=initMap"></script>

{% endblock %}