{% extends 'base.html' %}
{% block content %}
<center>
  <h2> Profile: {{ user.username }}</h2>

  <div class="container">
    <div>
      Username: {{ user.username }}
        <br> 
      Email: {{ user.email }}
        <br>
      <!-- Password -->
      <!-- <br> -->
      <!-- Image -->
    </div>

    <div class="row">
      <div class="col-xs-4">
        <br> 
          <h4> Favorite Artworks:</h4> 
          <br>
            {% for art in user.artworks %}
              <ul>
                <a href="/artworks/{{ art.art_id }}"> {{ art.title }}</a>
              </ul>
            {% endfor %}
          <br>
      </div>

      <div class="col-xs-4">
        <br>
          <h4>Favorite Artists:</h4>
          <br>
            {% for artist in user.artists %}
              <ul>
                <a href="/artists/{{ artist.artist_id }}"> {{ artist.primary_name }} {{ artist.secondary_name }}</a>
              </ul>
            {% endfor %}
          <br>
      </div>

      <div class="col-xs-4">
        <br>
          <h4>Favorite Museums:</h4>
<!--           <br>
          <strong>(or Private Collections):</strong> -->
          <br>
            {% for collection in user.collections %}
              <ul>
                <a href="/collections/{{ collection.collection_id }}"> {{ collection.name }}</a>
              </ul>
            {% endfor %}
          <br>
      </div>
    </div>
  </div>
<br>
<div id="map"></div>
</center>

<script src="/static/js/maps.js"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCexM0cyhuLYBlw7cibj5bolrLP4-tycME&callback=initMap"></script>

{% endblock %}